#copy-right {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: black;
  padding: 20px;
  width: 100%;
}

.copy-right-sec {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Helvetica;
  font-size: 16px;
  color: #fff;
}

.copy-right-sec a {
  color: rgb(255, 255, 255);
  font-weight: auto;
  text-decoration: none;
  margin-right: 20px;
  padding: 2px;
}

#fotos-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: black;
  padding: 20px;
  width: 100%;
}

.fotos-1-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fotos-1-1 img {
  width: 50px;
  height: auto;
  margin-right: 20px;
}

  .left, .right {
      display: flex;
      flex: 1; /* Para que ambos divs ocupen el mismo ancho */
    }
    
    .left {
      justify-content: flex-start; /* Alinea los elementos a la izquierda */
    }
    
    .right {
      justify-content: flex-start; /* Alinea los elementos a la derecha */
    }
  
  .copy-right-sec a:hover {
      background: #ff9d00;
      border-radius: 7px;
      border: 3px solid orange;

  }
  
  
  .image-container {
      width: 50px;
      height: auto;
      margin-top: 5px; /* Espacio entre el texto y la imagen */
    }
    
    .image-container img {
      width: 100%;
      height: auto;
    }

    .img1 {
      padding-left: 0px; /* Padding derecho de cada imagen */
    }
    
    .img2 {
      padding-left: 210px; /* Padding izquierdo de cada imagen */
      padding-right: 135px; /* Padding derecho de cada imagen */
    }
    
    .img3 {
      padding-left: 70px; /* Padding izquierdo de cada imagen */
      padding-right: 20px; /* Padding derecho de cada imagen */
    }
    
    .img4 {
      padding-left: 130px; /* Padding izquierdo de cada imagen */
      padding-right: 70px; /* Padding derecho de cada imagen */
    }

  /* Para pantallas de 365px a 800px */
@media screen and (min-width: 365px) and (max-width: 1000px) {
  #copy-right, #fotos-1 {
    width: 100%;
    padding: 10px; /* Ajuste del padding */
    display: flex;
    justify-content: center; /* Centra horizontalmente el section */
    align-items: center; /* Centra verticalmente el section */
    padding: 10px; /* Ajuste del padding */
    margin: auto; /* Centra el section en la página */
  }
  
  .copy-right-sec {
    font-size: 14px; /* Tamaño de fuente más pequeño */
  }

  .copy-right-sec a {
    margin-right: 10px; /* Ajuste del margen entre enlaces */
    padding: 1px; /* Ajuste del padding de los enlaces */
  }

  .fotos-1-1 img {
    width: 40px; /* Tamaño de imagen más pequeño */
    margin-right: 10px; /* Ajuste del margen entre imágenes */
  }

  .fotos-1-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .image-container {
    width: 30px; /* Tamaño de la imagen más pequeño */
    margin-top: 3px; /* Ajuste del margen superior */
  }

  .img1 {
    padding-left: 20px; /* Padding izquierdo de la imagen 1 */
    padding-right: 25px;
  }

  .img2 {
    padding-left: 90px; /* Padding izquierdo de la imagen 2 */
    padding-right: 40px; /* Padding derecho de la imagen 2 */
  }

  .img3 {
    padding-left: 20px; /* Padding izquierdo de la imagen 3 */
    padding-right: 10px; /* Padding derecho de la imagen 3 */
  }

  .img4 {
    padding-left: 60px; /* Padding izquierdo de la imagen 4 */
    padding-right: 2px; /* Padding derecho de la imagen 4 */
  }
}

.img1 {
    left: 25%; /* Mueve la imagen 1 al 25% de la pantalla */
  }

  .img2 {
    left: 50%; /* Mueve la imagen 2 al 50% de la pantalla */
  }

  .img3 {
    left: 70%; /* Mueve la imagen 3 al 70% de la pantalla */
  }

  .img4 {
    left: 90%; /* Mueve la imagen 4 al 90% de la pantalla */
  }