html {
  max-height: 100%;
  position: relative;
}
header {
  background: rgb(0, 0, 0);
  width: 100%;
  position: fixed;
  z-index: 100;
  padding-top: 0%;
  padding-bottom: 20px; /* Ajusta el padding-bottom */
  margin: auto;
  top: 0%;
  left: 0%;
  display: flex;
  align-items: center;
  justify-content: right; /* Centra los elementos */
  position: fixed;
}

#main-header {
  background-color: rgba(0, 0, 0, 0.5); /* Fondo negro con opacidad */
  color: white;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
  transition: background-color 0.3s ease; /* Transición suave para el cambio de color de fondo */
}

nav {
  float: left;
  padding: 0;
}

nav ul {
  list-style: none;
  overflow: hidden; 
}

nav ul li {
  float: left;
  font-family: Arial, sans-serif;
  font-size: 16px;
  padding-left: 5px;
  padding-right: 5px;
}

nav ul li:last-child {
  padding-right: 15px; /* Ajusta el padding-right solo en el último elemento */
}

nav ul li a {
  display: block;
  padding: 5px;
  color: #fff;
  text-decoration: none;
}

nav ul li:hover {
  background: #ff9d00;
  border-radius: 7px;
}


  main {
    margin-top: 80px; /* Ajusta este valor según la altura de tu header */
}


.logo {
    display: flex;
    align-items: left;
    justify-content: left; /* Centra los elementos */
    width: 100px; /* Ajusta el ancho según el tamaño de tu logo */
    height: 70%; /* Esto mantiene la proporción del logo */
    margin-right: auto;
    padding-left: 20px ;
}

.img1 {
    width: 550px; /* Ancho deseado del contenedor */
    height: 550px; /* Altura deseada del contenedor */
    display: flex;
    align-self: center;
    align-items: center; /* Centrar verticalmente */
    justify-content: center; /* Centrar horizontalmente */
    overflow: hidden; /* Para ocultar cualquier parte de la imagen que desborde del contenedor */
}
.fotobar {
    width: 100%; /* La imagen ocupará todo el ancho del contenedor */
    height: auto; /* La altura se ajustará automáticamente para mantener la proporción */
    display: flex; /* Para eliminar cualquier espacio adicional debajo de la imagen */
}

.titulo {
  position: relative;
  text-align: center;
  color: white; /* Color del texto */
  display: flex;
  align-items: center; /* Centra verticalmente el contenido */
  justify-content: center; /* Centra horizontalmente el contenido */
}

.titulo::before {
  content: "";
  position: absolute;
  top: 5%; /* Ajusta el margen superior */
  left: 5%; /* Ajusta el margen izquierdo */
  right: 5%; /* Ajusta el margen derecho */
  bottom: 5%; /* Ajusta el margen inferior */
  background-color: black; /* Color del cuadro */
  z-index: -1; /* Para que esté detrás del texto */
}

.redes {
  font-family: "Arial", sans-serif; /* Fuente elegante */
  font-size: 16px; /* Tamaño de fuente moderado */
  color: #000000; /* Color de texto oscuro */
  text-align: center; /* Alineación centrada */
  margin: 20px auto; /* Margen superior e inferior y centrado horizontal */
  padding: 10px; /* Relleno interno */
  border: 3px solid black; /* Borde sólido negro */
  border-radius: 5px; /* Bordes redondeados */
  background-color: #ffffff; /* Color de fondo claro */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* Sombra suave */
  width: 478px; /* Ancho del div */
  height: 50px; /* Altura del div */
  overflow: hidden; /* Oculta el contenido que desborda */
}

.redes iframe {
  width: 100%; /* Ancho completo del iframe dentro del div */
  height: 100%; /* Altura completa del iframe dentro del div */
}

.redes:hover {
  background-color: #ffffff; /* Cambio de color de fondo al pasar el mouse */
  border-color: #999; /* Cambio de color de borde al pasar el mouse */
}

.redes a {
  color: inherit; /* Hereda el color del texto de su elemento padre */
  text-decoration: underline; /* Agrega subrayado a los hipervínculos */
}

.redes a:hover {
  color: inherit; /* Mantén el color del texto al pasar el mouse */
  text-decoration: none; /* Elimina el subrayado al pasar el mouse */
}

.redes1 {
  font-size: 20px; /* Tamaño de fuente moderado */
  color: #000000; /* Color de texto oscuro */
  text-align: center; /* Alineación centrada */
  margin: 20px auto; /* Margen superior e inferior y centrado horizontal */
  padding: 10px; /* Relleno interno */
  border: 3px solid rgb(255, 255, 255); /* Borde sólido negro */
  border-radius: 5px; /* Bordes redondeados */
  background-color: #ffffff; /* Color de fondo claro */
  box-shadow: 0 2px 4px rgba(255, 255, 255, ); /* Sombra suave */
  width: 375px; /* Ancho del div */
  height: 50px; /* Altura del div */
  overflow: hidden; /* Oculta el contenido que desborda */
  padding-top: 10px;
  padding-bottom: 10px;
}

.redes1 iframe {
  width: 100%; /* Ancho completo del iframe dentro del div */
  height: 100%; /* Altura completa del iframe dentro del div */
}

.profile-card {
  max-width: 460px;
  min-width: 375px;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  align-items: center;
  font-family: "Arial", sans-serif; /* Fuente elegante */
  color: #000000; /* Color de texto oscuro */
  text-align: center; /* Alineación centrada */
  margin: 20px auto; /* Margen superior e inferior y centrado horizontal */
  background-color: #ffffff; /* Color de fondo claro */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* Sombra suave */
  overflow: hidden; /* Oculta el contenido que desborda */
  align-items: center;
}

.profile-card img {
  width: 60px; /* Tamaño del icono de perfil */
  border-radius: 50%; /* Para que la imagen sea circular */
  margin-right: 10px; /* Reducción del margen */
  margin-bottom: 10px; /* Agregado margen inferior */
}

.profile-info {
  flex: 1; /* Para que ocupe todo el espacio disponible */
}

.profile-info h2 {
  margin-bottom: 10px;
  color: #333; /* Color del texto */
}

.text-box {
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.text-box p {
  margin: 0;
  color: #666; /* Color del texto */
}

.rating {
  font-size: 24px;
}

.rating .star {
  color: #ff9d00; /* Color de las estrellas */
}

.menu-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc; /* Línea separadora entre elementos */
  padding: 10px 0; /* Espaciado interno */
  min-width: 375px;
  max-width: 480px;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  color: #000000; /* Color de texto oscuro */
  text-align: center; /* Alineación centrada */
  margin: 20px auto; /* Margen superior e inferior y centrado horizontal */
  background-color: #ffffff; /* Color de fondo claro */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* Sombra suave */
  overflow: hidden; /* Oculta el contenido que desborda */
  align-items: center;
}

.item-price {
  flex: 1; /* Que ocupen todo el espacio restante */
  text-align: center; /* Centrar texto horizontalmente */
}

.item-name {
  flex: 2; /* Que ocupe más espacio para el nombre */
  text-align: center; /* Centrar texto horizontalmente */
}

.item-photo img {
  max-width: 150px; /* Ancho máximo de la imagen */
  height: auto; /* Altura automática según el ancho */
  max-height: auto; /* Máximo de 50px de altura */
  width: auto; /* Ancho automático según la altura */
  height: 35%; /* El 25% del tamaño original */
}

.container {
  font-size: 16px; /* Tamaño de fuente */
  border: 1px solid #ccc; /* Borde */
  border-radius: 5px; /* Bordes redondeados */
  display: flex;
  justify-content: space-between;
  font-family: "Times New Roman", serif;
  max-width: 460px;
  min-width: 375px;
  padding: 20px;
  display: flex;
  align-items: center;
  color: #000000; /* Color de texto oscuro */
  text-align: justify; /* Alineación centrada */
  margin: 20px auto; /* Margen superior e inferior y centrado horizontal */
  background-color: #ffffff; /* Color de fondo claro */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* Sombra suave */
  overflow: hidden; /* Oculta el contenido que desborda */
  align-items: center;
  height: auto;
}

.column {
  flex: 1;
}

.bold {
  font-weight: bold;
}

.column:last-child {
  padding-bottom: 3px;
}

.descripcion-hamburguesa {
  font-size: 16px; /* Tamaño de fuente */
  border: 1px solid #ccc; /* Borde */
  border-radius: 5px; /* Bordes redondeados */
  display: flex;
  justify-content: space-between;
  font-family: "Times New Roman", serif;
  max-width: 460px;
  min-width: 375px;
  padding: 20px;
  display: flex;
  align-items: center;
  color: #000000; /* Color de texto oscuro */
  text-align: justify; /* Alineación centrada */
  margin: 20px auto; /* Margen superior e inferior y centrado horizontal */
  background-color: #ffffff; /* Color de fondo claro */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* Sombra suave */
  overflow: hidden; /* Oculta el contenido que desborda */
  align-items: center;
  height: auto;
}

.disclaimer {
  font-size: 17px; /* Tamaño de fuente más pequeño para el descargo de responsabilidad */
  margin-top: 10px; /* Espacio superior */
  color: #616161; /* Color de texto más claro */
  padding-bottom: 5px;
}

.rsvp-button {
  padding: 10px 20px;
  background-color: orange;
  color: white;
  border: 2px solid white;
  font-weight: bold;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  align-content: center;
}

.rsvp-button:hover {
  background-color: white;
  color: orange;
  border: 2px solid orange;
}

.night-mode {
  background-color: #333;
  color: #fff;
}